In [30]:
import pandas as pd
data=pd.read_csv("C:/Users/ML Lab/Downloads/enjoy.csv")
data

   example    Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0        1  sunny    warm   normal  strong  warm     same        yes
1        2  sunny    warm     high  strong  warm     same        yes
2        3  rainy    cold     high  strong  warm   change         no
3        4  sunny    warm     high  strong  cool   change        yes

example          1
Sky          sunny
AirTemp       warm
Humidity    normal
Wind        strong
Water         warm
Forecast      same
Name: 0, dtype: object
0    yes
1    yes
2     no
3    yes
Name: EnjoySport, dtype: object

In [31]:
h=[]
for i in range(0,data.shape[1]-2):
    h.append('0')
print(h)

['0', '0', '0', '0', '0', '0']

In [86]:
z=[]

for i in range(0,data.shape[0]):
    n=data.iloc[i,data.shape[1]-1]
    if(n=="yes"):
        z.append(data.iloc[i,1:data.shape[1]-1].values)

In [87]:
z

[array(['sunny', 'warm', 'normal', 'strong', 'warm', 'same'], dtype=object),
 array(['sunny', 'warm', 'high', 'strong', 'warm', 'same'], dtype=object),
 array(['sunny', 'warm', 'high', 'strong', 'cool', 'change'], dtype=object)]

In [88]:
h=z[0]
print(h)
print((h[0]))

['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
sunny

In [89]:
for i in range(1,len(z)):
    x1=z[i]
    for j in range(0,len(h)):
        if h[j]!=x1[j]:
            h[j]='?'
            
print(h)

['sunny' 'warm' '?' 'strong' '?' '?']

<class 'list'>